.pepinillo{
    height: 150px;
}

.pepinillo1{
    min-height: 80vh;
}

.garbanzo{
    height: 150px;
}

.garbanzo1{
    min-height: 80vh;
}

.tomate{
    height: 50px;
}

.zanahoria{
    min-height: 100vh;
}